{% extends "master.html" %}

{% block title %} Articles {%endblock title %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
  <h2>Articles </h2>

<div class="panel">
  <form method="GET" action="">
    <input type="text" placeholder="Search ... " name="q" value="{{request.GET.q }}">
    <input type="submit" value="Search">
  </form>
</div>
{% for item in posts %}

    <div class="thumbnail">
      {% if item.image %}
        <img src={{item.image.url}} class='img-responsive'> </>
      {% endif %}

      <div class="caption">
        <small> created {{item.timestamp | timesince}} ago </small>
        <h3>  <a href="{% url 'posts:detail' slug=item.slug %}"> {{item.title}} </a></h3>
        <div class="listing-author">
        {% if item.author.get_full_name %}
          <p> By : {{item.author.get_full_name }} </p>
        {% else %}
          <p> By : {{item.author }} </p>
        {% endif %}
       </div>
       <div class="listing-tags">
         {% if item.tag %}
          <b>Tags : </b><i> {{item.tag }} </i>
          {% endif %}

       </div>
        <p>{{item.content|linebreaks | truncatechars:240}} </p>
        <p><a href="{% url 'posts:detail' slug=item.slug %}" class="btn btn-primary" role="button">Detailed...</a> </p>
        <p> {{item.slug}} </p>
      </div>
    </div>


{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}{%if request.GET.q %}&q={{request.GET.q}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}{%if request.GET.q %}&q={{request.GET.q}}{% endif %}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

{%  endblock content %}
